/**
 * NVUE平台开发注意事项
 * 1.nvue的css仅支持flex布局，是webview的css语法的子集。这是因为操作系统原生排版不支持非flex之外的web布局。当然flex足以排布出各种页面，只是写法需要适应。
 * 2.在选择器方面支持的较少，只支持简单的class="classA"。
 * 3.class 进行绑定时只支持数组语法。
 * 4.不支持媒体查询
 * 5.不支持复合样式，不支持简写
 * 6.不能在 style 中引入字体文件
 * 7.布局不能使用百分比，如width：100%；
 * 8.有些web的css属性在nvue里无法支持，比如背景图。但可以使用image组件和层级来实现类似web中的背景效果。因为原生开发本身也没有web这种背景图概念
 * 9.nvue 的各组件在安卓端默认是透明的，如果不设置background-color，可能会导致出现重影的问题
 * 10.文字内容，必须只能在text组件下，text组件不能换行写内容，否则会出现无法去除的周边空白
 * 11.只有text标签可以设置字体大小，字体颜色
 */

/**
 * 样式文件后缀注意事项
 * 如果报错找不到样式文件，很有可能是因为后缀名不是scss，因为css的导入只在最后使用的地方差量编译检查文件，
 * 如果此时如果使用相对路径，很可能就找不到该样式文件，而scss的导入是直接使用原样式文件内容替换，因此不会存在
 * 差量编译查找不到文件问题
 */

@import "@/theme/theme_dark.scss";
@import "@/theme/theme_light.scss";

// 引入公共基础类
@import "./color.scss";
@import "./common.scss";
@import "./iconfont.scss";

// 过渡动画
@import "./transition.scss";

// 非nvue的样式
/* #ifndef APP-NVUE */
@import "./style.vue.scss";
/* #endif */

// nvue的特有样式
/* #ifdef APP-NVUE */
@import "./style.nvue.scss";
/* #endif */

// 小程序特有的样式
/* #ifdef MP */
@import "./style.mp.scss";
/* #endif */

// H5特有的样式
/* #ifdef H5 */
@import "./style.h5.scss";
/* #endif */

.night-theme {
  @include dark-theme;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  // background-color: var(--bg-color);
  // transition: background, background-color 1s ease-out;
}

.day-theme {
  @include light-theme;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  // background-color: var(--bg-color);
  // transition: background 1s ease-out;
}


.u-flex {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: row;
  // align-items: center;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-col-center {
  align-items: center;
}

.u-col-top {
  align-items: flex-start;
}

.u-col-bottom {
  align-items: flex-end;
}

.u-row-center {
  justify-content: center;
}

.u-row-left {
  justify-content: flex-start;
}

.u-row-right {
  justify-content: flex-end;
}

.u-row-between {
  justify-content: space-between;
}

.u-row-around {
  justify-content: space-around;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-flex-col {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: column;
}

.page-content {
  width: 100%;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* start--文本行数限制--start */
.u-line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.u-line-2 {
  -webkit-line-clamp: 2;
}

.u-line-3 {
  -webkit-line-clamp: 3;
}

.u-line-4 {
  -webkit-line-clamp: 4;
}

.u-line-5 {
  -webkit-line-clamp: 5;
}

.u-line-2,
.u-line-3,
.u-line-4,
.u-line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

/* end--文本行数限制--end */

// 定义flex等分
@for $i from 0 through 12 {
  .u-flex-#{$i} {
    flex: $i;
  }
}


// 定义字体(rpx)单位，大于或等于20的都为rpx单位字体
@for $i from 20 through 40 {
  .u-font-#{$i} {
    font-size: $i + rpx;
  }
}

// 定义内外边距，历遍1-80
@for $i from 0 through 80 {

  // 只要双数和能被5除尽的数
  @if $i % 2==0 or $i % 5==0 {

    // 得出：u-margin-30或者u-m-30
    .u-margin-#{$i},
    .u-m-#{$i} {
      margin: $i + rpx !important;
    }

    // 得出：u-padding-30或者u-p-30
    .u-padding-#{$i},
    .u-p-#{$i} {
      padding: $i + rpx !important;
    }

    @each $short, $long in l left, t top, r right, b bottom {

      // 缩写版，结果如： u-m-l-30
      // 定义外边距
      .u-m-#{$short}-#{$i} {
        margin-#{$long}: $i + rpx !important;
      }

      // 定义内边距
      .u-p-#{$short}-#{$i} {
        padding-#{$long}: $i + rpx !important;
      }

      // 完整版，结果如：u-margin-left-30
      // 定义外边距
      .u-margin-#{$long}-#{$i} {
        margin-#{$long}: $i + rpx !important;
      }

      // 定义内边距
      .u-padding-#{$long}-#{$i} {
        padding-#{$long}: $i + rpx !important;
      }
    }
  }
}

.shadow-soft {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
}