@font-face {
  font-family: "iconfont"; /* Project id 4350001 */
  src: url('//at.alicdn.com/t/c/font_4350001_jhpvjffto2p.woff2?t=1704698837680') format('woff2'),
       url('//at.alicdn.com/t/c/font_4350001_jhpvjffto2p.woff?t=1704698837680') format('woff'),
       url('//at.alicdn.com/t/c/font_4350001_jhpvjffto2p.ttf?t=1704698837680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-wenhao-xianxingyuankuang:before {
  content: "\e8e9";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-gantanhao-quan:before {
  content: "\e70f";
}

.icon-fuzhi:before {
  content: "\e620";
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-fabu:before {
  content: "\e62f";
}

.icon-fenxiang:before {
  content: "\e72f";
}

.icon-aixin:before {
  content: "\e85c";
}
